/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
	--text-color: #353430;
	--section-background-color: #fff1f7;
}

body.page.theme_light .title {
	--title-color: #FFC2E6;
}



body.page.theme_light .header__theme-menu-button_type_light {
	--neon-pink-color: #353430;
}

body.page.theme_light .block__title-background {
	--neon-pink-color: #FF8DCB;
}

body.page.theme_light .title-color {
	--neon-pink-color: #353430;
}

body.page.theme_light .no-focus {
	--background-url: url('/images/cover-image-light.png');
}

body.page.theme_light .decoration-after {
	--neon-pink-color: #353430;
}


body.page.theme_light .decoration-before {
	--neon-pink-color: #353430;
}

body.page.theme_light .logo {
	display: none;
}