/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
	color: var(--text-in-light-theme-color);
	--section-background-color: var(--section-light-background-color);
	background-image: var(--background-light-url);
}

body.page.theme_light .title {
	color: var(--title-light-theme-color);
}

body.page.theme_light .header__theme-menu-button_type_light {
	color: var(--text-in-light-theme-color);
}

body.page.theme_light .header__theme-menu-button_active {
	border: 1px solid var(--text-in-light-theme-color);
}

body.page.theme_light .text-color {
	color: var(--text-in-light-theme-color)
}

body.page.theme_light .link-decoration {
	text-shadow: 2px 2px 0px var(--background-title-light-theme-color);
}

body.page.theme_light .header__theme-menu-button {
	color: var(--text-in-light-theme-color)
}

body.page.theme_light .block__title-background {
	color: var(--text-in-light-theme-color);
	background-color: var(--background-title-light-theme-color);
}

body.page.theme_light .title-color {
	color: var(--text-in-light-theme-color)
}

body.page.theme_light .decoration-after {
	color: var(--text-in-light-theme-color)
}

body.page.theme_light .decoration-before {
	color: var(--text-in-light-theme-color)
}


body.page.theme_light .logo {
	display: none;
}

body.page.theme_light .decorated-zone::after,
body.page.theme_light .decorated-zone::before {
	color: var(--brand-color);
}

@media (hover: hover) {
	body.page.theme_light .header__theme-menu-button:hover {

		border: 1px solid var(--text-in-light-theme-color);
	}

	body.page.theme_light .header__theme-menu-button:focus {
		border-bottom: 1px solid var(--text-in-light-theme-color);

	}
}

@media(prefers-color-scheme: light) {
	.page.theme_auto {
		color: var(--text-in-light-theme-color);
		--section-background-color: var(--section-light-background-color);
		background-image: var(--background-light-url);
	}

	.title.theme_auto {
		color: var(--title-light-theme-color);
	}

	body.page.theme_auto .header__theme-menu-button_type_light {
		color: var(--text-in-light-theme-color);
	}

	body.page.theme_auto .header__theme-menu-button_active {
		border: 1px solid var(--text-in-light-theme-color);
	}

	body.page.theme_auto .text-color {
		color: var(--text-in-light-theme-color)
	}

	body.page.theme_auto .link-decoration {
		text-shadow: 2px 2px 0px var(--background-title-light-theme-color);
	}

	body.page.theme_auto .header__theme-menu-button {
		color: var(--text-in-light-theme-color)
	}

	body.page.theme_auto .block__title-background {
		color: var(--text-in-light-theme-color);
		background-color: var(--background-title-light-theme-color);
	}

	body.page.theme_auto .title-color {
		color: var(--text-in-light-theme-color)
	}

	body.page.theme_auto .decoration-after {
		color: var(--text-in-light-theme-color)
	}

	body.page.theme_auto .decoration-before {
		color: var(--text-in-light-theme-color)
	}


	body.page.theme_auto .logo {
		display: none;
	}

	body.page.theme_auto .decorated-zone::after,
	body.page.theme_auto .decorated-zone::before {
		color: var(--brand-color);
	}

	@media (hover: hover) {
		body.page.theme_auto .header__theme-menu-button:hover {

			border: 1px solid var(--text-in-light-theme-color);
		}

		body.page.theme_auto .header__theme-menu-button:focus {
			border-bottom: 1px solid var(--text-in-light-theme-color);

		}
	}
}