/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

@media (prefers-color-scheme: auto) {
	:root .page.theme_auto {
		--background-url: url('../images/cover-image.png');
	}
}

.page {
	/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
	background-color: var(--background-page-color);
	background-image: var(--background-url);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.building__block {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.header {
	height: 100vh;
	min-block-size: 668px;
	position: relative;
}

.header__theme-menu {
	display: flex;
	flex: 0 1 300px;
	align-items: start;
	margin-top: 20px;
}

.header-block__title {
	max-width: 491px;
	align-self: end;
}

.header__theme-menu-list {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 0;

}

.header-building__block {
	gap: 113px;
}

.header__theme-menu-button {
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	padding: 1.5px 13px;
	cursor: pointer;
	color: var(--brand-color);
}

.header__theme-menu-button_active {
	border: 1px solid var(--brand-color);
}

.what-concentration__content .building__block {
	flex: 1 1 33.333%;
}

.logo {
	display: var(--display);
	position: absolute;
	right: 20px;
	top: 20px;
	color: var(--brand-color);
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	width: 52px;
	align-items: center;
	justify-content: space-between;
	margin-right: 9px;
}

.logo::after {
	content: '';
	display: inline-flex;
	border: 1px solid var(--background-text-color);
	height: 9px;
	background-color: var(--background-text-color);
	width: 9px;
	border-radius: 50%;
	box-shadow: 0px 0px 5px 3px var(--background-text-color);
}

.decorated-zone::after {
	content: '';
	display: block;
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 25px;
	height: 25px;
	border-left: 1px solid var(--brand-color);
	border-bottom: 1px solid var(--brand-color);
}

.decorated-zone::before {
	content: '';
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 25px;
	height: 25px;
	border-top: 1px solid var(--brand-color);
	border-right: 1px solid var(--brand-color);
}

.title {
	color: var(--title-color);
	font-size: clamp(116px, 15.6vw, 157px);
	font-weight: 700;
	text-shadow: 4px 4px 0px var(--text-shadow-color);
	line-height: clamp(95.7px, 13vw, 129.53px);
}

.block__text {
	justify-content: end;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 113px;
	margin-bottom: 135px;
	flex: 1 1 100%;
}

.title-margin-offset {
	position: relative;
	right: 20px;

}

.link-decoration {
	text-shadow: 2px 2px 0px var(--text-shadow-link-color);
}


.link-decoration:focus {
	border: 1px solid var(--text-color);
}

.block__title {
	background-color: var(--background-text-color);
	color: var(--text-black-color);
	font-size: 18px;
	font-weight: 400;
}

.focus {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.title-color {
	color: var(--brand-color);
	font-size: 18px;
	font-weight: 700;
	max-width: 315px;
}

.text-color {
	color: var(--text-color);
	font-size: 18px;
	line-height: 23.4px;
	font-weight: 400;
}

.content-flex {
	display: flex;
	gap: 20px;
}

.why-concentration-text__content {
	flex-wrap: wrap;
	flex: 1 1 67%;
}

.what-concentration {
	flex-direction: column;
	flex-wrap: wrap;
}

.how-concentration-block__title {
	flex: 1 1 28%;
}

.title-font-weight {
	font-weight: 700;
}

.how-concentration-text__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1 1 61.7%;
}

.title-margin {
	margin-bottom: 10px;
}

.image-concentration {
	flex-direction: column;
}

.image-concentration__block {
	display: grid;
	gap: 20px;
	grid-auto-flow: dense;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);

	grid-template-areas:
		"A A B"
		"D C B"
		"D E E";
}

.image-concentration__item {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-concentration__first {
	grid-area: A;
}

.image-concentration__fourth {
	grid-area: D;
}

.image-concentration__third {
	grid-area: B;
}

.image-concentration__fifth {
	grid-area: C;
}

.image-concentration__second {
	grid-area: E;
}


@media (max-width: 767.99px) {
	.header__theme-menu {
		flex: 0 1 464px;
		align-items: center;
		margin-top: 0px;
	}

	.header__theme-menu-list {
		flex-direction: column;
		align-items: end;
		margin-top: 15px;
		gap: 14px;
	}

	.header-building__block {
		gap: 160px;
	}

	.title-color {
		max-width: 236px;
	}

	.what-concentration__content {
		flex-direction: column;
	}

	.header__container {
		gap: clamp(20px, 24vw, 168px);
		justify-content: center;
	}

	.header-block__title {
		max-width: 364px;
	}

	.image-concentration-block__title {
		margin-top: 0px;
	}

	.how-concentration-text__content {
		flex: 1 1 60%;
	}

	.block__text {
		gap: 160px;
		margin-top: 174px;
		margin-bottom: 0px;
		justify-content: center;
	}

	.what-concentration__title {
		max-width: 200px;
	}


	.decoration-before {
		top: 20px;
	}


}

@media(max-width: 720px) {
	.image-concentration__block {
		gap: 10px;
		grid-template-columns: repeat(1, auto);
		grid-template-rows: repeat(5, auto);
		grid-template-areas:
			"A"
			"B"
			"C"
			"D"
			"E";
	}

	.decorated-zone::before {
		top: 10px;
		right: 10px;
	}

	.decorated-zone::after {
		left: 10px;
		bottom: 10px
	}
}

@media (max-width: 550px) {
	.image-concentration__container {
		gap: 10px;
	}

	.header__theme-menu {
		flex: 0 0 230px;
	}

	.header-building__block {
		gap: 65px;
	}

	.title-margin-offset {
		right: 0;
		top: 10px;
	}

	.content-flex {
		flex-direction: column;
	}

	.header {
		height: auto;
	}

	.logo {
		top: 10px;
		right: 10px;
	}

	.title-color {
		max-width: 100%;
	}

	.image-concentration__fourth {
		grid-area: C;
	}

	.image-concentration__fifth {
		grid-area: D;
	}

	.focus {
		height: auto;
		min-block-size: 668px;
	}

	.header__container {
		gap: 0px;
	}

	.main-container {
		gap: 50px;
	}

	.block__text {
		margin-top: 20px;
		margin-bottom: 0px;
		margin-left: 0px;
		gap: 55px;
	}
	.image-concentration{
		gap: 10px;
	}
}

@media (hover: hover) {
	.header__theme-menu-button:hover {
		border: 1px solid var(--text-in-theme-color-hover);

	}

	.link-decoration:hover {

		border-bottom: 1px solid var(--text-in-theme-color-hover);
	}

	.header__theme-menu-button:focus {
		border-bottom: 1px solid var(--text-in-theme-color-hover);

	}
}