/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
	--title-color: #DB00FF;
	--display: flex;
	--title-light-theme-color: #ffc2e6;
	--brand-color: #FF0070;
	--text-color: #F1B2CE;
	--text-black-color: #000028;
	--background-text-color: var(--brand-color);
	--text-shadow-color: var(--brand-color);
	--text-shadow-link-color: var(--brand-color);
	--text-in-theme-color-hover: #ff007066;
	--background-title-light-theme-color: #FF8DCB;
	--background-url: url('../images/cover-image-dark.png');
	--background-page-color: #000028;
}
