/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
	--title-color: #DB00FF;
	--title-light-theme-color: #ffc2e6;
	--brand-color: #FF0070;
	--text-color: #F1B2CE;
	--text-black-color: #000028;
	--text-in-light-theme-color: #353430;
	--background-title-light-theme-color: #FF8DCB;
	--section-background-color: var(--text-black-color);
	--section-light-theme-background-color: #fff1f7;
	--background-auto-url: url('../images/cover-image.png');
	--background-dark-url: url('../images/cover-image-dark.png');
	--background-light-url: url('../images/cover-image-light.png');
	--light-theme-text-color: #32312d66;
}